:root {
    --color-four: #884A39;
    --color-three: #C38154;
    --color-two: #FFC26F;
    --color-one: #F9E0BB; 
    --font-family-base: 'Pretendard';
  }
  
  body {
    font-family: var(--font-family-base);
    margin: 0;
  }
  