:root {
  --color-four: #884a39;
  --color-three: #c38154;
  --color-two: #ffc26f;
  --color-one: #f9e0bb;
  --color-boarder: #ddd;
  --font-family-base: 'Pretendard';
}
* {
  font-family: var(--font-family-base);
}

body {
  margin: 0;
}
